$bg-color: #ffffff !default;
$primary-color: #bd9655 !default;
$secondary-color: #3c5e8b !default;
$third-color: #cacaca !default;
$black-color: #191a23 !default;
$white-color: #f3f3f3 !default;
$blue-small-color: #eff8ff !default;
$dark-gray: #555555 !default;
$medium-gray: #6e6e6e !default;
$warm-gray: #99948f !default;
