@use "forward" as fw;

/* HEADER */

header {
  display: flex;
  justify-content: center;
  background-color: #555;
  background-color: #9bb7db;
  width: 100%;
  z-index: 5;
  position: fixed;
  height: 80px;
  background-color: fw.$bg-color;
  border-bottom: 0.5px dashed fw.$third-color;
  .header-wrapper {
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      .name-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        img {
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 50px;
          margin-right: 18px;
        }
        div {
          > p {
            font-size: 12px;
            color: #9b9b9b;
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }
    #bars {
      cursor: pointer;
      font-size: 30px;
      padding: 10px;
      display: flex;
      align-items: center;
      padding-right: 15px;

      &.fa-solid.fa-bars {
        color: #635e57;
      }
    }
    #menu {
      visibility: hidden;
      transition: right 0.3s ease-in;
      right: -300px;
      &.active {
        visibility: inherit;
        display: flex;
        flex-direction: column;
        right: 0px;
      }
    }
    .backDrop {
      visibility: hidden;
      transition: all 0.3s ease-in;
      &.active {
        visibility: inherit;
        z-index: 5;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    nav {
      z-index: 6;
      position: fixed;
      top: 0px;
      background-color: #fdfdfd;
      width: 300px;
      height: 100vh;
      text-align: right;

      #close {
        cursor: pointer;
        font-size: 38px;
        padding: 10px;
        margin: 32px 13px 0px;
      }

      ul {
        text-align: left;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 5px;
        position: relative;

        li {
          cursor: pointer;
          background-color: #fdfdfd;
          border-bottom: 1px solid rgba(27, 27, 27, 0.315);
          transition: background-color 0.3s ease-in;
          &:hover {
            font-weight: 600;
          }

          a {
            display: block;
            padding-left: 20px;
            line-height: 45px;
            color: rgba(25, 26, 35, 1);
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
      .btn-nav {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: 30px;

        a {
          background-color: #bd9655;
          border: 1px solid #bd9655;
          padding: 10px 20px;
          border-radius: 3px;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          color: rgba(25, 26, 35, 1);
          transition: background-color 0.3s ease;

          cursor: pointer;
          width: 100%;
          padding: 8px 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
          background-color: #fff;
          border-radius: 4px;
          border: 1px solid #b9b9b9;
          transition: all 0.2sease-in;
          width: 150px;

          &:hover {
            color: #f3f3f3;
            background-color: rgba(25, 26, 35, 1);
            transition: background-color 0.3s ease;
          }
        }
      }
      .contact {
        position: absolute;
        bottom: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        padding: 25px;
        gap: 10px;
        font-size: 14px;
        font-weight: 300;
        height: 250px;
        margin-bottom: 30px;

        > :first-child {
          font-size: 16px;
          color: rgba(25, 26, 35, 1);
          padding: 5px;
          border-radius: 5px;
          font-weight: 500;
          background-color: frgba(25, 26, 35, 1);
        }
        > :last-child {
          line-height: 1.2;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  /* HEADER */
  header {
    .header-wrapper {
      .logo {
        display: flex;
        .name-content {
          display: flex;
          flex-direction: row;
          width: 440px;

          div {
            display: flex;
            > p {
              font-size: 12px;
              margin-top: 10px;
              margin-left: 15px;
              color: #afafaf;
              font-weight: 300;
            }

            > p {
              display: flex;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  /* HEADER */
  header {
    .header-wrapper {
      .logo {
        display: flex;
        .name-content {
          img {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            margin-right: 18px;
          }
        }
      }
      i {
        display: none;
        background-color: #d0d1d3;
      }
      #bars {
        display: none;
      }
      #menu {
        visibility: inherit;
        display: flex;
        justify-content: end;
        padding-right: 15px;
        &.active {
          flex-direction: row;
        }
      }
      .backDrop.active {
        display: none;
      }

      nav {
        position: inherit;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        height: inherit;
        width: inherit;
        &::before {
          display: none;
        }
        ul {
          flex-direction: row;
          gap: 10px;
          margin-top: inherit;

          li {
            cursor: pointer;
            min-width: inherit;
            text-align: center;
            line-height: initial;
            border: none;
            background-color: transparent;
            font-size: 14px;

            .home {
              color: #bd9655;
              font-weight: 500;
            }
            &:hover {
              background-color: transparent;
            }

            a {
              padding: 10px;
              color: rgba(25, 26, 35, 0.815);
              font-size: 14px;
              line-height: 45px;
              text-transform: uppercase;
              font-weight: 300;
              transition: text-decoration 0.4s ease;
              text-align: center;
              text-decoration: none;
            }
          }
        }
        .btn-nav {
          cursor: pointer;
          margin-top: 0px;
          margin-left: 10px;
          box-shadow: 1px 1px 0px 0px #bd9655;
          border-radius: 5px;
          width: 140px;

          a {
            cursor: pointer;
            width: 100%;
            padding: 8px 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #b9b9b9;
            transition: all 0.2sease-in;
            &:hover {
              transition: background-color 0.3s ease;
              background-color: #f3faff;
              color: #333;
              transform: translate(1px, 1px);
            }
          }
        }
        .contact {
          display: none;
        }
      }
    }
  }
}

/* HERO */
.hero-wrapper {
  width: 100%;
  height: 100%;
  padding: 100px 20px;
  max-width: 1250px;
  margin: auto;

  .txt-wp {
    padding-top: 100px;
    padding-bottom: 20px;
    max-width: 920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 58px;
      line-height: 1.2;
    }
    p {
      font-size: 16px;
    }
    .location {
      margin-top: 50px;
      display: flex;
      gap: 30px;
      font-size: 13px;
      span i {
        color: fw.$primary-color;
        margin-right: 10px;
      }
    }

    .btn-constructor {
      cursor: pointer;
      margin-top: 40px;
      margin-left: 0px;
      box-shadow: 1px 1px 0px 0px #bd9655;
      border-radius: 5px;
      max-width: 280px;
      a {
        cursor: pointer;
        width: 100%;
        padding: 14px 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #b9b9b9;
        transition: all 0.2sease-in;
        &:hover {
          transition: background-color 0.3s ease;
          background-color: #3c5e8b;
          color: #ffffff;
          transform: translate(1px, 1px);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .hero-wrapper {
    padding: 50px 20px;
    .txt-wp {
      h2 {
        font-size: 38px;
      }
      p {
        margin-top: 10px;
        font-size: 14px;
      }
      .location {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 8px;
      }
      .btn-constructor {
        margin: 40px auto 0px;
        max-width: 350px;
        width: 90%;
      }
    }
  }
}
/* ABOUT */
.about-wrapper {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  max-width: 1250px;
  margin: auto;
  > p {
    color: #bd9655;
    text-transform: uppercase;
  }
  .about {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    .about-txt {
      width: 50%;
      h2 {
        font-size: 48px;
      }
      p {
        width: 90%;
        margin-left: 5px;
      }
    }
    .wr-img {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 50%;
      max-height: 450px;
      img {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
@media (max-width: 780px) {
  .about-wrapper {
    padding: 50px 20px;
    .about {
      flex-direction: column;
      padding-top: 20px;
      gap: 20px;
      align-items: center;
      .about-txt {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .about-wrapper {
    .about {
      .about-txt {
        width: 100%;

        h2 {
          font-size: 38px;
        }
        p {
          font-size: 14px;
          width: 100%;
          margin-left: 10px;
        }
      }
      .wr-img {
        max-width: 80%;
      }
    }
  }
}

/* SERVICE */
.service-wrapper {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  max-width: 1250px;
  margin: auto;
  > p {
    color: #bd9655;
    text-transform: uppercase;
  }
  .service {
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > h2 {
      font-size: 48px;
      line-height: 1;
    }
    > p {
      margin-left: 10px;
      max-width: 530px;
      font-size: 14px;
      color: #555555;
      margin-bottom: 40px;
    }
    .box-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
      .service-box {
        min-height: 300px;
        padding: 40px;
        border-radius: 6px;
        border: 1px solid rgba(26, 26, 26, 0.1);
        box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
        h3 {
          font-size: 18px;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .service-wrapper {
    padding: 50px 20px;
    .service {
      padding-top: 20px;
      gap: 10px;
      > h2 {
        font-size: 38px;
        line-height: 1;
      }
      .box-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
        .service-box {
          min-height: 280px;
          padding: 28px;
          h3 {
            font-size: 18px;
            margin-bottom: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/* WORKS */
.works-wrapper {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  max-width: 1250px;
  margin: auto;
  > p {
    color: #bd9655;
    text-transform: uppercase;
  }
  .works {
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title-works {
      > h2 {
        font-size: 48px;
        line-height: 1;
      }
      > p {
        margin-left: 10px;
        max-width: 400px;
        font-size: 14px;
        color: #555555;
      }
    }
    .wp-card-works {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      .card-works {
        position: relative;
        // background-color: antiquewhite;
        margin-top: 40px;
        overflow: hidden;
        span {
          position: relative;
          .bx-number {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            border-radius: 5px;
            background-color: #3c5e8b;
            color: #fff;
          }
          &::before {
            position: absolute;

            top: 0;
            left: 54px;
            content: "";
            display: block;
            width: 100%;
            height: 25px;
            border-bottom: 1px dashed #bd9655;
          }
        }

        h3 {
          font-size: 18px;
          padding: 32px 0px 14px;
        }
        p {
          font-size: 14px;
          padding-right: 20px;
        }
      }
    }
  }
}
@media (max-width: 780px) {
  .works-wrapper {
    .works {
      .wp-card-works {
        grid-template-columns: repeat(1, 1fr);
        .card-works {
          span {
            .bx-number {
              width: 40px;
              height: 40px;
              font-size: 16px;
            }
            &::before {
              left: 44px;
              height: 20px;
            }
          }
          h3 {
            font-size: 18px;
            padding: 12px 0px 5px 10px;
          }
          p {
            margin-left: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .works-wrapper {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    max-width: 1250px;
    margin: auto;

    .works {
      padding-top: 20px;
      gap: 10px;
      .title-works {
        > h2 {
          font-size: 38px;
          line-height: 1.2;
        }
      }
      .wp-card-works {
        margin: 0 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        .card-works {
          position: relative;
          margin-top: 40px;
          overflow: hidden;
          span {
            position: relative;
            .bx-number {
              width: 40px;
              height: 40px;
              font-size: 16px;
            }
            &::before {
              left: 44px;
              height: 20px;
            }
          }
          h3 {
            font-size: 18px;
            padding: 12px 0px 5px 10px;
          }
          p {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

/* PROTOTYPES */
.prototype-wrapper {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  max-width: 1250px;
  margin: auto;
  > p {
    color: #bd9655;
    text-transform: uppercase;
  }
  .prototype {
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > h2 {
      font-size: 48px;
    }
    > p {
      margin-left: 10px;
      max-width: 530px;
      font-size: 14px;
      color: #555555;
      margin-bottom: 40px;
    }
  }
  .carousel-container {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    background-color: red;
    padding: 8px;

    .carousel {
      display: flex;
      // transition: transform 0.5s ease-in-out;

      .carousel-item {
        flex: 0 0 33.33%;
        padding: 10px;

        iframe {
          width: 340px;
          height: 315px;
          border-radius: 10px;
          border: 1px dashed #bd9655;
          box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
        }
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      font-size: 18px;
      background-color: #3c5e8b;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #bd9655;
      }
    }
  }

  #prev {
    left: 10px;
  }

  #next {
    right: 10px;
  }
}

@media (max-width: 500px) {
  .prototype-wrapper {
    .prototype {
      padding-top: 20px;
      gap: 10px;
      > h2 {
        font-size: 38px;
      }
      > p {
        font-size: 12px;
        margin-bottom: 20px;
      }
    }
  }
}
/* CONTACT */
.position {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .img-bk-contact {
    background-color: #333;
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(/src/img/pngwing.com.png);
    background-size: cover;
  }
  .contact-wrapper {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    max-width: 1250px;
    margin: auto;
    position: relative;

    > p {
      color: #bd9655;
      text-transform: uppercase;
    }
    .contact {
      position: relative;
      padding-top: 40px;
      padding-bottom: 20px;
      max-width: 1100px;
      margin: auto;
      display: flex;
      flex-direction: column;
      > h2 {
        font-size: 48px;
        line-height: 1;
      }
      > p {
        margin-left: 5px;
        max-width: 500px;
        font-size: 14px;
        color: #555;
        line-height: 1.4;
        margin-bottom: 40px;
      }
    }
    .form-box {
      background-color: #ffffff;
      margin: auto;
      display: flex;
      padding: 40px;
      gap: 60px;
      border-radius: 6px;
      border: 1px solid #1a1a1a1a;
      box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
      max-width: 900px;
      .left-form {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        img {
          display: block;
          width: 70px;
          height: 70px;
          border-radius: 50px;
          margin-left: -5px;
        }
        h3 {
          color: #6e6e6e;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 300;
        }
        .discovery {
          font-size: 26px;
        }
        .time-discovery {
          display: flex;
          align-items: center;
          color: #494949;
          line-height: 1.2;
          gap: 12px;

          padding: 18px 0px;
          > svg {
            width: 28px;
          }
        }
        .desc-discovery {
          display: flex;
          align-items: center;
          color: #494949;
          line-height: 1.2;
          gap: 12px;

          > svg {
            width: 40px;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .form-group {
          display: flex;
          flex-direction: column;
          input,
          textarea,
          select {
            box-sizing: border-box;
            font-size: 16px;
            line-height: 1.5;
            padding: 10px 14px;
            min-height: 46px;
            border-radius: 4px;
            width: 100%;
            display: block;
            border: 1px solid #3c5e8b;
            overflow-wrap: normal;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          textarea {
            min-height: 100px;
            resize: vertical;
          }
        }
        .checkbox-group {
          display: flex;
          gap: 5px;
          align-items: start;

          > input {
            display: flex;
          }
          label,
          a {
            font-size: 12px;
            line-height: 1.3;
          }
        }
        button {
          cursor: pointer;
          box-sizing: border-box;
          font-size: 16px;
          line-height: 1.5;
          padding: 10px 14px;
          min-height: 46px;
          border-radius: 4px;
          width: 100%;
          display: block;
          border: 1px solid #3c5e8b;
          color: #fff;
          background-color: #3c5e8b;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .position {
    .contact-wrapper {
      .form-box {
        flex-direction: column;
        padding: 20px;
        gap: 40px;

        .left-form {
          h3 {
            margin-top: 8px;
          }
          .discovery {
            font-size: 22px;
          }
          .time-discovery {
            gap: 10px;
            padding: 12px 0px;
            > svg {
              width: 18px;
            }
            > p {
              font-size: 14px;
            }
          }
          .desc-discovery {
            > svg {
              width: 20px;
            }

            > p {
              font-size: 14px;
            }
          }
        }
        form {
          gap: 16px;
          .form-group {
            input,
            textarea,
            select {
              font-size: 14px;
              line-height: 1.2;
              padding: 8px 10px;
              min-height: 38px;
            }

            label {
              font-size: 14px;
            }
            textarea {
              height: 100px;
              line-height: 1.5;
            }
            small {
              line-height: 1.2;
            }
          }
          .checkbox-group {
            label,
            a {
              font-size: 10px;
            }
          }
          button {
            line-height: 1.2;
            min-height: 38px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .position {
    .contact-wrapper {
      .contact {
        padding-top: 20px;
        > h2 {
          font-size: 38px;
          line-height: 1.2;
        }
        > p {
          font-size: 14px;
          margin-left: 10px;
        }
      }
      .form-box {
        .left-form {
          .desc-discovery {
            > svg {
              width: 35px;
            }
          }
        }
      }
    }
  }
}

/* FOOTER */
footer {
  padding: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: fw.$bg-color;
  border-top: 0.2px dashed fw.$third-color;
  .footer-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .medias {
      @include fw.flex-center;
      gap: 20px;

      a {
        img {
          width: 35px;
          height: 35px;
          border: 1px solid rgb(107, 107, 107);
          padding: 7px;
          border-radius: 50%;
          filter: grayscale(1) contrast(1);
          transition: all 0.3s ease-out;
          &:hover {
            transition: all 0.3s ease-out;
            filter: grayscale(0) contrast(1);
            border: 1pt solid rgb(78, 78, 78);
          }
        }
      }
    }

    > :nth-child(2) {
      display: flex;
      justify-content: space-around;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 400;
      color: #000000b9;

      a {
        cursor: pointer;
        color: fw.$third-color;
        text-decoration: none;
        letter-spacing: 0px;
        margin-left: 7px;
      }
    }
    > :last-child {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(270deg);

      a {
        width: 35px;
        height: 35px;
        @include fw.flex-center;
        text-decoration: none;
        background-color: fw.$primary-color;
        border: 1px solid fw.$black-color;
        border-radius: 3px;
        box-shadow: -1px 1px 0px 0px fw.$black-color;

        .fa-chevron-right {
          color: fw.$white-color;
          padding: 8px;
          font-size: fw.$font-size-large;
          line-height: 30px;
        }
      }
      & a:hover {
        transition: all 0.1s ease-in;
        transform: translate(1px, 1px);
        box-shadow: none;
      }
    }
  }
}

/* MEDIA MOBILE */
@media (max-width: 605px) {
  /* FOOTER */
  footer {
    .footer-wrapper {
      gap: 10px;
      .medias {
        gap: 10px;
        margin-top: 50px;
      }
      > :nth-child(2) {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
      }
      > :last-child {
        right: 50%;
        left: 50%;
      }
    }
  }
}

canvas {
  display: block;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("https://images.unsplash.com/photo-1518818419601-72c8673f5852?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;

  .wr {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      text-align: center;
      margin: auto;
      background-color: #76a782;
      display: block;
    }
  }
}
